<h1>Games</h1>
<%= link_to "Tapeworm", controller: "tapeworm", action: "index" %>
<%= link_to "Hungry Dog", controller: "hungry_dog", action: "index" %>
<%= link_to "Injured Birb", controller: "injured_birb", action: "index" %>
