<h1>Games</h1>
<% Game.all.each do |g| %>
  
  <%= image_tag g.image_url %>
  <% snake_name = g.name.underscore.gsub(" ", "_") %>
  <%= link_to g.name, {controller: snake_name, action: :index},
    style: "text-decoration: none;font-size: 2em;" %>
  <br /><br />
<% end %>
