<div id="new_shop">
  <h1>Create Shop</h1>
  <%= form_tag({controller: "shops", action: "create"}, method: "post") do %>
    <%= label_tag(:shop_name, "shop name:") %>
    <%= text_field_tag(:shop_name) %>
    <%= submit_tag("Create Shop") %>
  <% end %>
</div>
