<h1>Welcome to <%= @shop.name %></h1>

<table style="border-spacing: 30px">
	<% @shop.inventory.items.each do |t| %>
	<tr>
		<td><%= t.type.name %></td>
		<td><img src="<%=t.type.image_url%>"></td>
		<td>
			<%= button_to "Buy", 
			{:controller => "shops",
			 :action => "buy",
			 :item => t,
			 :user => @current_user},
			 :method=>:post %>
		</td>
	</tr>
<% end %>
</table>
