<p>This is a shop page!</p>

<h2>Welcome to <%= @shop.shop_name %></h2>

<!-- Once we have items implemented, this will be where all of the fancy shop display stuff will be -->
<% @shop_items.each do |t| %>
Item Id: <%= t.id %> 
<% end %>