<h1>Food Kitchen</h1>

<p>You follow some hastily scribbled signs that read "Fewd Kitchen", and come across a lovely two-story home. "Fewd Kitchen" has been graffitied on most of the surfaces of the house. It makes the home only slightly less lovely.</p>
<p>Go in?</p>
