<h1>WORLD ALPHA</h1>

<p><%= link_to "Go to the food kitchen", controller: "world_alpha", action: "food_kitchen" %></p>
<p><%= link_to "Go to the battle shop", controller: "/shops", action: "show_by_name", name: "Lucky's Used Weapon Emporium" %></p>
<p>Check out that neat patch of tall grass over there</p>
