<%= render "challenge" %>
<% @battles.each do |b| %>
  <p>
  <%= link_to "Battle between #{b.challenger.user.username} and #{b.opponent.user.username}:", 
  controller: "battles", action: "show", id: b.id %>
    <%=BattlesHelper.status(b, @current_user)%>
  </p>
<% end %>

<% if @battles.count < 1 %>
  <p>No battles!</p>
<% end %>
