<% @battles.each do |b| %>
  <p>
  <%= link_to "Battle between #{b.challenger.username} and #{b.opponent.username}:", 
  controller: "battles", action: "show", id: b.id %>
    <%=BattlesHelper.status(b)%>
  </p>
<% end %>

<% if @battles.count < 1 %>
  <p>No battles!</p>
<% end %>
