$c_background: #DDDDDD;
$c_bar: #000000;
$c_bar_text: #FFFFFF;
$c_bar_border: #FF0000;
$c_bar_anchor: #FFFFFF;
$c_bar_anchor_hover: #FF0000;
$c_alert: #FF9900;
$c_notice: #00AA99;


body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-image: image-url("tile_space_inverted.png");
  background-color: $c_background;
  padding: 0px;
  margin: 0px;
}

#top {
  margin-bottom: 50px;
}

.bar {
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  padding-left: 0.5%;
  padding-right: 0.5%;
  background-color: $c_bar;
  color: $c_bar_text;
  border-style: solid;
  border-color: $c_bar_border;
  border-width: 0px 0px 2px 0px;

  a {
    text-decoration: none;
    font-weight: bold;
    color: $c_bar_anchor;
  }
  a:hover, a:visited:hover {
    color: $c_bar_anchor_hover;
  }
  a:visited {
    color: $c_bar_anchor;
  }

}

#nav {
  font-family: "Syncopate";
}

#userbar {
  background-image: url("/img/pitpets_logo.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;
}

#logo {
  display: inline-block;
  width: 280px;
  margin-right: 50px;
}

#alert {
  color: $c_alert;
}

#notice {
  color: $c_notice;
}

#login {
  display: inline;
}
