$c_background: #000000;
$c_highlight: #FF0000;
$c_text: #FFFFFF;
// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#register {
  background-color: $c_background;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: $c_highlight;
  color: $c_text;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 20px;

  h1 {
    margin-top: -1px;
    font-family: "Syncopate";
    border-width: 0px 0px 1px 0px;
    border-color: $c_highlight;
    border-style: solid;
    span {
      color: $c_background;
      background-color:$c_highlight;
    }
  }

  input, label {
    margin-left: 20px;
    margin-bottom: 5px;
    display: block;
  }
}

@font-face {
  font-family: "Syncopate";
  src:font-url("Syncopate-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
