<<<<<<< HEAD
~<%= link_to "games", controller: "games/games", action: "index" %>
~<%= link_to "battles", controller: "battles", action: "index" %>
=======
<span id="nav">
<%= link_to "GAMES", controller: "games/games", action: "index" %>
</span>
>>>>>>> pets
